<head>
    <link 
        href={{ url_for('static', filename='style.css') }}
        rel='stylesheet'
    >
    <link 
        href={{ url_for('static', filename='user.css') }}
        rel='stylesheet'
    >
</head>

{% if name != session['account'] %}
    <p>Something went wrong, please go to 
        <a href={{ url_for('login') }}>Log In</a> / 
        <a href={{ url_for('index') }}>Sign Up</a>
    </p>

{% else %}

    <h1>TODO APP</h1>
    <p>Hello, {{ name|title }}!</p>
    <p>What did you eat for breakfast?</p>

    <div class="wrapper">
    {% for task in tasks %}
    <div id={{ loop.index|string }} class="card">
        <div class="card-img"></div>
        <h2 class="card-heading">{{ task.title }}</h2>
        <p class="card-details">{{ task.details }}</p>
        <p class="card-start-date">Created: {{ task.created_on }}</p>
        {% if task.deadline %}
        <p class="card-end-date">Deadline: {{ task.deadline }}</p>
        {% endif %}
        <div class="card-ui">
            <a href={{ "/status/" + loop.index|string }}>Change Status</a>
            <a href="#" onclick=remove_task(event)>Remove</a>
        </div>
    </div>
    {% endfor %}
    </div>

    <a href={{ url_for('logout') }}>Log Out</a>

    <script src={{ url_for('static', filename='script.js') }}></script>
{% endif %}